body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #77aaff 3px solid;
  position: relative;
}

header h1 {
  text-align: center;
  margin: 0;
  font-size: 24px;
}

header .profile {
  position: absolute;
  top: 17px;
  right: 20px;
}

header .profile2 {
  position: absolute;
  top: 57px;
  right: 20px;
}

header .profile button,
header .profile2 button {
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}

header .profile button:hover,
header .profile2 button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

header .profile a,
header .profile2 a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  display: block;
  width: 40px;
}

header .profile a:hover,
header .profile2 a:hover {
  color: white;
}

.control-panel {
  text-align: center;
  margin: 20px 0;
}

.control-panel button {
  background: #77aaff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.control-panel button:hover {
  background: #0056b3;
}

.control-panel button a {
  text-decoration: none;
  color: #fff;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.summary .box {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  text-align: center;
  font-weight: bolder;
}

.summary .box h2 {
  margin: 0 0 10px;
}

.summary .box p {
  font-size: 30px;
}

#dataTableContaAPagar {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

#dataTableContaAPagar th,
#dataTableContaAPagar td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#dataTableContaAPagar th {
  background: #77aaff;
  color: #fff;
}

#dataTableContaAPagar tr:nth-child(even) {
  background: #f2f2f2;
}

#dataTableContaAPagar tr:hover {
  background: #ddd;
}

#dataTableContaAPagar tr {
  cursor: pointer;
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#confirmDelete {
  background-color: #d9534f;
  color: white;
}

#cancelDelete {
  background-color: #5bc0de;
  color: white;
}

#confirmDelete:hover {
  background-color: #c9302c;
}

#cancelDelete:hover {
  background-color: #31b0d5;
}

/* Dropdown container */
.control-panel .dropdown a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.control-panel .dropdown a:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background: #77aaff;
  color: #fff;
}

table tr:nth-child(even) {
  background: #f2f2f2;
}

table tr:hover {
  background: #ddd;
}

table tr {
  cursor: pointer;
  font-weight: 600;
}